<strong>Recuperação de Senha</strong>

<p>Uma solicitação foi enviada para realização da recuperação de senha ( {{ email }} )</p>

<p>Utilize este {{ token }} </p>

<a href="{{ link }}">Criar nova senha</a>
